<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWordCounterService"
            maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8701/WordCounterService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWordCounterService"
          contract="WordCounterService.IWordCounterService" name="BasicHttpBinding_IWordCounterService" />
    </client>
  </system.serviceModel>
</configuration>